@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

*{
    
    padding: 0;
    margin: 0;
}
.body{
    background: url("https://wallpaperaccess.com/full/680797.jpg");
    min-height: 100vh;
    background-size: 140vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    background:linear-gradient(rgb(164, 223, 164) , rgb(172, 172, 107));
    width:95vmin;
    height: 92vmin;
    border:2px solid black;
    display: grid;
    grid-template-rows: repeat(18 , 1fr);
    grid-template-columns: repeat(18 , 1fr);
}
.head{
    background:linear-gradient(red , yellow );
        border:.25vmin solid purple;
    transform: scale(1.02);
    border-radius: 12px;
    


}
.snake{
    background-color: purple;
    border:.25vmin solid white;
    border-radius: 12px;
}
.food{
    background:linear-gradient(red ,purple);
    border:.25vmin solid black;
    border-radius: 12px;
}

#scoreBox{
    position: absolute;
    top:10px;
    right:200px;
    font-size: 39px;
    font-weight: 900;
    color: white;
    font-family: 'Pangolin', cursive;
}

#hiscoreBox{

    position: absolute;
    top:70px;
    right:180px;
    font-size: 39px;
    font-weight: 900;
    color: white;
    font-family: 'Pangolin', cursive;
}
